$button-bg-color: #e60000;
$button-text-color: #ffffff;
$button-bg-hover-color: #c70000;

$header-text-color: #ffffff;
$header-bg-color: #002f5f;

$table-header-bg-color: #f5f7fa;
$table-cell-text: #002f5f;

$border-color: #e6e6e6;