$color-primary: #002f5f;
$color-secondary: #e60000;
$grey: #bbb;
$light-grey: #e6e6e6;
$color-error: #f44336;

$button-bg-color: $color-secondary;
$button-text-color: #ffffff;
$button-bg-hover-color: darken($color-secondary, 10%);

$header-text-color: $grey;
$header-bg-color: $color-primary;

$table-header-text: $grey;
$table-cell-text: $color-primary;

$border-color: $light-grey;