@import 'src/styles/colors';
@import 'src/styles/breakpoints';

.header {
  display: flex;
  background-color: $header-bg-color;
  padding: 1rem 2rem 1rem;
  justify-content: center;
  flex-wrap: wrap;

  @include for-size(tablet-up) {
    padding: 2rem 6rem 3rem;
    justify-content: flex-start;
  }

  &__label {
    flex-basis: 100%;
    color: $header-text-color;
    font-weight: bold;
    margin-bottom: .75rem;
  }

  &__input {
    padding: .75rem 1rem;
    width: 400px;
    border: none;
    flex-basis: 100%;

    @include for-size(tablet-up) {
      flex-basis: auto;
    }
  }

  &__button {
    background-color: $button-bg-color;
    color: $button-text-color;
    padding: .75rem 2rem;
    border: none;
    cursor: pointer;
    margin-top: 1rem;

    @include for-size(tablet-up) {
      margin: 0;
    }

    &:hover {
      background-color: $button-bg-hover-color;
    }
  }
}
